In [1]:
import pandas as pd

In [2]:
billboard = pd.read_csv("data/billboard.csv")

In [3]:
billboard = pd.read_csv("data/billboard.csv")
billboard_long = billboard.melt(
    id_vars=["year", "artist", "track", "time", "date.entered"],
    var_name="week",
    value_name="rating"
)
billboard_long

,year,artist,track,time,date.entered,week,rating
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
...,...,...,...,...,...,...,...
24087,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,wk76,NaN
24088,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,wk76,NaN
24089,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,wk76,NaN
24090,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk76,NaN
24091,2000,matchbox twenty,Bent,4:12,2000-04-29,wk76,NaN

In [4]:
billboard_long.loc[billboard_long.track == "Kernkraft 400"]

       year         artist          track  time date.entered  week  rating
315    2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02   wk1    99.0
632    2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02   wk2    99.0
949    2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02   wk3     NaN
1266   2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02   wk4     NaN
1583   2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02   wk5     NaN
...     ...            ...            ...   ...          ...   ...     ...
22822  2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02  wk72     NaN
23139  2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02  wk73     NaN
23456  2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02  wk74     NaN
23773  2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02  wk75     NaN
24090  2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02  wk76     NaN

[76 rows x 7 columns]

In [5]:
billboard_song = billboard_long[["year", "artist", "track", "time"]].copy()
billboard_song

       year            artist                    track  time
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22
1      2000           2Ge+her  The Hardest Part Of ...  3:15
2      2000      3 Doors Down               Kryptonite  3:53
3      2000      3 Doors Down                    Loser  4:24
4      2000          504 Boyz            Wobble Wobble  3:35
...     ...               ...                      ...   ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10
24088  2000  Yearwood, Trisha          Real Live Woman  3:55
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19
24090  2000     Zombie Nation            Kernkraft 400  3:30
24091  2000   matchbox twenty                     Bent  4:12

[24092 rows x 4 columns]

In [6]:
billboard_song.shape

(24092, 4)

In [7]:
billboard_song.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24092 entries, 0 to 24091
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    24092 non-null  int64
 1   artist  24092 non-null  object
 2   track   24092 non-null  object
 3   time    24092 non-null  object
dtypes: int64(1), object(3)
memory usage: 753.0+ KB

In [8]:
billboard_song = billboard_song.drop_duplicates()
billboard_song

     year            artist                    track  time
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22
1    2000           2Ge+her  The Hardest Part Of ...  3:15
2    2000      3 Doors Down               Kryptonite  3:53
3    2000      3 Doors Down                    Loser  4:24
4    2000          504 Boyz            Wobble Wobble  3:35
..    ...               ...                      ...   ...
312  2000       Yankee Grey     Another Nine Minutes  3:10
313  2000  Yearwood, Trisha          Real Live Woman  3:55
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19
315  2000     Zombie Nation            Kernkraft 400  3:30
316  2000   matchbox twenty                     Bent  4:12

[317 rows x 4 columns]

In [9]:
billboard_song.reset_index(drop=True).index

RangeIndex(start=0, stop=317, step=1)

In [10]:
billboard_song["id"] = billboard_song.index

C:\Users\Daniel\AppData\Local\Temp\ipykernel_24632\255624378.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  billboard_song["id"] = billboard_song.index

In [11]:
billboard_song

     year            artist                    track  time   id
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22    0
1    2000           2Ge+her  The Hardest Part Of ...  3:15    1
2    2000      3 Doors Down               Kryptonite  3:53    2
3    2000      3 Doors Down                    Loser  4:24    3
4    2000          504 Boyz            Wobble Wobble  3:35    4
..    ...               ...                      ...   ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10  312
313  2000  Yearwood, Trisha          Real Live Woman  3:55  313
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19  314
315  2000     Zombie Nation            Kernkraft 400  3:30  315
316  2000   matchbox twenty                     Bent  4:12  316

[317 rows x 5 columns]

In [12]:
billboard_long

,year,artist,track,time,date.entered,week,rating
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
...,...,...,...,...,...,...,...
24087,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,wk76,NaN
24088,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,wk76,NaN
24089,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,wk76,NaN
24090,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk76,NaN
24091,2000,matchbox twenty,Bent,4:12,2000-04-29,wk76,NaN

In [14]:
billboard_ratings = billboard_long.merge(
    billboard_song,
    on=["year", "artist", "track", "time"]
)

In [15]:
billboard_ratings.sample(10)

,year,artist,track,time,date.entered,week,rating,id
4900,2000,Jay-Z,Do It Again (Put Ya ...,3:47,2000-01-15,wk16,NaN,145
18026,2000,"Spencer, Tracie",Still In My Heart,4:11,2000-03-04,wk57,NaN,274
8558,2000,matchbox twenty,Bent,4:12,2000-04-29,wk27,19.0,316
13048,2000,"Carey, Mariah",Crybaby,5:19,2000-06-24,wk42,NaN,51
11151,2000,"Chesney, Kenny",I Lost It,3:54,2000-10-21,wk36,NaN,56
16315,2000,"Jean, Wyclef",911,4:00,2000-10-07,wk52,NaN,148
19725,2000,Da Brat,What'Chu Like,3:57,2000-06-03,wk63,NaN,71
5174,2000,Fatboy Slim,The Rockafeller Skan...,4:00,1999-11-13,wk17,NaN,102
14354,2000,"Eastsidaz, The",Got Beef,3:58,2000-07-01,wk46,NaN,89
20474,2000,Ludacris,What's Your Fantasy,4:16,2000-09-30,wk65,NaN,186

In [16]:
billboard_ratings = billboard_ratings[["id", "date.entered", "week", "rating"]]

In [17]:
billboard_ratings

        id date.entered  week  rating
0        0   2000-02-26   wk1    87.0
1        1   2000-09-02   wk1    91.0
2        2   2000-04-08   wk1    81.0
3        3   2000-10-21   wk1    76.0
4        4   2000-04-15   wk1    57.0
...    ...          ...   ...     ...
24087  312   2000-04-29  wk76     NaN
24088  313   2000-04-01  wk76     NaN
24089  314   2000-03-18  wk76     NaN
24090  315   2000-09-02  wk76     NaN
24091  316   2000-04-29  wk76     NaN

[24092 rows x 4 columns]

In [20]:
billboard.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 81 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          317 non-null    int64
 1   artist        317 non-null    object
 2   track         317 non-null    object
 3   time          317 non-null    object
 4   date.entered  317 non-null    object
 5   wk1           317 non-null    int64
 6   wk2           312 non-null    float64
 7   wk3           307 non-null    float64
 8   wk4           300 non-null    float64
 9   wk5           292 non-null    float64
 10  wk6           280 non-null    float64
 11  wk7           269 non-null    float64
 12  wk8           260 non-null    float64
 13  wk9           253 non-null    float64
 14  wk10          244 non-null    float64
 15  wk11          236 non-null    float64
 16  wk12          222 non-null    float64
 17  wk13          210 non-null    float64
 18  wk14          204 non-null    float64
 19  wk15          197 non-null    float64
 20  wk16          182 non-null    float64
 21  wk17          177 non-null    float64
 22  wk18          166 non-null    float64
 23  wk19          156 non-null    float64
 24  wk20          146 non-null    float64
 25  wk21          65 non-null     float64
 26  wk22          55 non-null     float64
 27  wk23          48 non-null     float64
 28  wk24          46 non-null     float64
 29  wk25          38 non-null     float64
 30  wk26          36 non-null     float64
 31  wk27          29 non-null     float64
 32  wk28          24 non-null     float64
 33  wk29          20 non-null     float64
 34  wk30          20 non-null     float64
 35  wk31          19 non-null     float64
 36  wk32          18 non-null     float64
 37  wk33          12 non-null     float64
 38  wk34          10 non-null     float64
 39  wk35          9 non-null      float64
 40  wk36          9 non-null      float64
 41  wk37          9 non-null      float64
 42  wk38          8 non-null      float64
 43  wk39          8 non-null      float64
 44  wk40          7 non-null      float64
 45  wk41          7 non-null      float64
 46  wk42          6 non-null      float64
 47  wk43          6 non-null      float64
 48  wk44          6 non-null      float64
 49  wk45          5 non-null      float64
 50  wk46          5 non-null      float64
 51  wk47          5 non-null      float64
 52  wk48          4 non-null      float64
 53  wk49          4 non-null      float64
 54  wk50          4 non-null      float64
 55  wk51          4 non-null      float64
 56  wk52          4 non-null      float64
 57  wk53          4 non-null      float64
 58  wk54          2 non-null      float64
 59  wk55          2 non-null      float64
 60  wk56          2 non-null      float64
 61  wk57          2 non-null      float64
 62  wk58          2 non-null      float64
 63  wk59          2 non-null      float64
 64  wk60          2 non-null      float64
 65  wk61          2 non-null      float64
 66  wk62          2 non-null      float64
 67  wk63          2 non-null      float64
 68  wk64          2 non-null      float64
 69  wk65          1 non-null      float64
 70  wk66          0 non-null      float64
 71  wk67          0 non-null      float64
 72  wk68          0 non-null      float64
 73  wk69          0 non-null      float64
 74  wk70          0 non-null      float64
 75  wk71          0 non-null      float64
 76  wk72          0 non-null      float64
 77  wk73          0 non-null      float64
 78  wk74          0 non-null      float64
 79  wk75          0 non-null      float64
 80  wk76          0 non-null      float64
dtypes: float64(75), int64(2), object(4)
memory usage: 263.6 KB

In [21]:
billboard_long.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24092 entries, 0 to 24091
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          24092 non-null  int64
 1   artist        24092 non-null  object
 2   track         24092 non-null  object
 3   time          24092 non-null  object
 4   date.entered  24092 non-null  object
 5   week          24092 non-null  object
 6   rating        5307 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 7.0 MB

In [22]:
billboard_ratings.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24092 entries, 0 to 24091
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            24092 non-null  int64
 1   date.entered  24092 non-null  object
 2   week          24092 non-null  object
 3   rating        5307 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.9 MB

In [24]:
billboard_song.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Index: 317 entries, 0 to 316
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    317 non-null    int64
 1   artist  317 non-null    object
 2   track   317 non-null    object
 3   time    317 non-null    object
 4   id      317 non-null    int64
dtypes: int64(2), object(3)
memory usage: 61.9 KB