In [2]:
def my_function():
    pass
    # your code here

In [3]:
def my_sq(x):
    return x ** 2

In [4]:
my_sq(4)

16

In [5]:
my_sq("hello")

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [6]:
assert my_sq(4) == 16

In [7]:
def my_sq(x: int|float) -> int|float:
    return x ** 2

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame({
    "a": [10, 20, 30],
    "b": [20, 30, 40]
})

In [10]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [11]:
df["a"] ** 2

0    100
1    400
2    900
Name: a, dtype: int64

In [12]:
df.a ** 2

0    100
1    400
2    900
Name: a, dtype: int64

In [13]:
my_sq(df.a)

0    100
1    400
2    900
Name: a, dtype: int64

In [14]:
type(df.a)

pandas.core.series.Series

In [17]:
df.a.apply(my_sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [18]:
my_sq

In [19]:
def my_exp(x, e):
    return x ** e

In [20]:
my_exp(4, 2)

16

In [21]:
my_exp(2, 10)

1024

In [22]:
df.a.apply(my_exp)

TypeError: my_exp() missing 1 required positional argument: 'e'

In [23]:
my_exp(4)

TypeError: my_exp() missing 1 required positional argument: 'e'

In [24]:
df.a.apply(my_exp, e=10)

0        10000000000
1     10240000000000
2    590490000000000
Name: a, dtype: int64

In [25]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [26]:
def my_exp_flipped(e, x):
    return my_exp(x, e)

In [27]:
df.a.apply(my_exp_flipped, x=2)

0          1024
1       1048576
2    1073741824
Name: a, dtype: int64

In [29]:
df.a.apply(lambda val: my_exp(x=2, e=val))

0          1024
1       1048576
2    1073741824
Name: a, dtype: int64

In [30]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [31]:
def print_me(x):
    print(x)

In [32]:
x = print_me("hello")

hello

In [33]:
x

In [34]:
df.a.apply(print_me)

10
20
30

0    None
1    None
2    None
Name: a, dtype: object

In [37]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [38]:
df.apply(print_me)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [40]:
def avg_3(x, y, z):
    return (x + y + z) / 3

In [41]:
assert avg_3(0, 5, 10) == 5

In [42]:
df.apply(avg_3)

TypeError: avg_3() missing 2 required positional arguments: 'y' and 'z'

In [43]:
avg_3(10)

TypeError: avg_3() missing 2 required positional arguments: 'y' and 'z'

In [44]:
def avg_3_apply(col):
    return col.mean()

In [45]:
df.apply(avg_3_apply)

a    20.0
b    30.0
dtype: float64

In [47]:
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3

In [48]:
df.apply(avg_3_apply)

a    20.0
b    30.0
dtype: float64

In [51]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [50]:
df.apply(print_me, axis="columns")

a    10
b    20
Name: 0, dtype: int64
a    20
b    30
Name: 1, dtype: int64
a    30
b    40
Name: 2, dtype: int64

0    None
1    None
2    None
dtype: object

In [52]:
df.apply(print_me, axis=1)

a    10
b    20
Name: 0, dtype: int64
a    20
b    30
Name: 1, dtype: int64
a    30
b    40
Name: 2, dtype: int64

0    None
1    None
2    None
dtype: object

In [54]:
(df.a + df.b) / 2

0    15.0
1    25.0
2    35.0
dtype: float64

In [55]:
def avg_2(x, y):
    return (x + y) / 2

In [56]:
avg_2(df.a, df.b)

0    15.0
1    25.0
2    35.0
dtype: float64

In [57]:
import numpy as np

def avg_2_mod(x, y):
    if (x == 20):
        return np.nan
    else:
        return (x + y) / 2

In [58]:
avg_2_mod(20, 10)

nan

In [59]:
avg_2_mod(0, 10)

5.0

In [60]:
assert avg_2_mod(0, 10) == 5

In [61]:
avg_2_mod(df.a, df.b)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [63]:
df.a == 20

0    False
1     True
2    False
Name: a, dtype: bool

In [64]:
(df.a == 20).any()

np.True_

In [65]:
(df.a == 20).all()

np.False_

In [67]:
import numpy as np

def avg_2_mod(x, y):
    if (x == 20):
        return np.nan
    else:
        return (x + y) / 2

In [68]:
avg_2_mod_np = np.vectorize(avg_2_mod)

In [69]:
avg_2_mod_np(20, 10)

array(nan)

In [70]:
avg_2_mod_np(0, 10)

array(5.)

In [72]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [71]:
avg_2_mod_np(df.a, df.b)

array([15., nan, 35.])

In [73]:
@np.vectorize
def avg_2_mod_np(x, y):
    if (x == 20):
        return np.nan
    else:
        return (x + y) / 2

In [74]:
avg_2_mod_np(df.a, df.b)

array([15., nan, 35.])

In [76]:
import numba

In [77]:
@numba.vectorize
def avg_2_mod_numba(x, y):
    if (x == 20):
        return np.nan
    else:
        return (x + y) / 2

In [78]:
avg_2_mod_numba(10, 20)

np.float64(15.0)

In [79]:
avg_2_mod_numba(0, 10)

np.float64(5.0)

In [80]:
avg_2_mod_numba(df.a, df.b)

0    15.0
1     NaN
2    35.0
dtype: float64

In [82]:
%%timeit
avg_2(df.a, df.b)

189 μs ± 3.79 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [84]:
%%timeit
(df.a + df.b) / 2

188 μs ± 3.18 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [85]:
%%timeit
avg_2_mod_np(df.a, df.b)

129 μs ± 865 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [86]:
%%timeit
avg_2_mod_numba(df.a, df.b)

190 μs ± 5.97 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [87]:
%%timeit
avg_2_mod_numba(df.a.values, df.b.values)

24.9 μs ± 365 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)