In [1]:
import pandas as pd

In [2]:
billboard = pd.read_csv("data/billboard.csv")

In [3]:
billboard = pd.read_csv("data/billboard.csv")
billboard_long = billboard.melt(
    id_vars=["year", "artist", "track", "time", "date.entered"],
    var_name="week",
    value_name="rating"
)
billboard_long

,year,artist,track,time,date.entered,week,rating
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
...,...,...,...,...,...,...,...
24087,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,wk76,NaN
24088,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,wk76,NaN
24089,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,wk76,NaN
24090,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk76,NaN
24091,2000,matchbox twenty,Bent,4:12,2000-04-29,wk76,NaN

In [6]:
billboard_long.loc[billboard_long.track == "Kernkraft 400"]

       year         artist          track  time date.entered  week  rating
315    2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02   wk1    99.0
632    2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02   wk2    99.0
949    2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02   wk3     NaN
1266   2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02   wk4     NaN
1583   2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02   wk5     NaN
...     ...            ...            ...   ...          ...   ...     ...
22822  2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02  wk72     NaN
23139  2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02  wk73     NaN
23456  2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02  wk74     NaN
23773  2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02  wk75     NaN
24090  2000  Zombie Nation  Kernkraft 400  3:30   2000-09-02  wk76     NaN

[76 rows x 7 columns]

In [8]:
billboard_song = billboard_long[["year", "artist", "track", "time"]]
billboard_song

       year            artist                    track  time
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22
1      2000           2Ge+her  The Hardest Part Of ...  3:15
2      2000      3 Doors Down               Kryptonite  3:53
3      2000      3 Doors Down                    Loser  4:24
4      2000          504 Boyz            Wobble Wobble  3:35
...     ...               ...                      ...   ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10
24088  2000  Yearwood, Trisha          Real Live Woman  3:55
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19
24090  2000     Zombie Nation            Kernkraft 400  3:30
24091  2000   matchbox twenty                     Bent  4:12

[24092 rows x 4 columns]

In [9]:
billboard_song.shape

(24092, 4)

In [10]:
billboard_song.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24092 entries, 0 to 24091
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    24092 non-null  int64
 1   artist  24092 non-null  object
 2   track   24092 non-null  object
 3   time    24092 non-null  object
dtypes: int64(1), object(3)
memory usage: 753.0+ KB

In [11]:
billboard_song = billboard_song.drop_duplicates()
billboard_song

     year            artist                    track  time
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22
1    2000           2Ge+her  The Hardest Part Of ...  3:15
2    2000      3 Doors Down               Kryptonite  3:53
3    2000      3 Doors Down                    Loser  4:24
4    2000          504 Boyz            Wobble Wobble  3:35
..    ...               ...                      ...   ...
312  2000       Yankee Grey     Another Nine Minutes  3:10
313  2000  Yearwood, Trisha          Real Live Woman  3:55
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19
315  2000     Zombie Nation            Kernkraft 400  3:30
316  2000   matchbox twenty                     Bent  4:12

[317 rows x 4 columns]

In [15]:
billboard_song.reset_index(drop=True).index

RangeIndex(start=0, stop=317, step=1)

In [16]:
billboard_song["id"] = billboard_song.reset_index(drop=True).index

C:\Users\Daniel\AppData\Local\Temp\ipykernel_25408\2540702894.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  billboard_song["id"] = billboard_song.reset_index(drop=True).index

In [17]:
billboard_song

     year            artist                    track  time   id
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22    0
1    2000           2Ge+her  The Hardest Part Of ...  3:15    1
2    2000      3 Doors Down               Kryptonite  3:53    2
3    2000      3 Doors Down                    Loser  4:24    3
4    2000          504 Boyz            Wobble Wobble  3:35    4
..    ...               ...                      ...   ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10  312
313  2000  Yearwood, Trisha          Real Live Woman  3:55  313
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19  314
315  2000     Zombie Nation            Kernkraft 400  3:30  315
316  2000   matchbox twenty                     Bent  4:12  316

[317 rows x 5 columns]

In [18]:
billboard_ratings = billboard_long[["date.entered", "week", "rating"]]

In [19]:
billboard_ratings

      date.entered  week  rating
0       2000-02-26   wk1    87.0
1       2000-09-02   wk1    91.0
2       2000-04-08   wk1    81.0
3       2000-10-21   wk1    76.0
4       2000-04-15   wk1    57.0
...            ...   ...     ...
24087   2000-04-29  wk76     NaN
24088   2000-04-01  wk76     NaN
24089   2000-03-18  wk76     NaN
24090   2000-09-02  wk76     NaN
24091   2000-04-29  wk76     NaN

[24092 rows x 3 columns]